$primaryColor: #6067f1;

$primarySectionBg: #5f67f1;
$primarySectionHeaderColor: #ffffff;
$primarySectionColor: #ffffff80;

$secondarySectionBg: #f5f7ff;
$secondarySectionHeaderColor: #707cb2;
$secondarySectionColor: #a6b0d4;

$correctAnswer: #bdfebf;
$wrongAnswer: #fe403c;